tesla-flow.json
[
    {
        "id": "aaf62c78.b1fad",
        "type": "tab",
        "label": "Tesla",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0a6842.2f23278",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "f562de5c.7c5df"
            ]
        ]
    },
    {
        "id": "d7503bee.b6a7c8",
        "type": "debug",
        "z": "aaf62c78.b1fad",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "f562de5c.7c5df",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "vehicleData",
        "name": "all data",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "d7503bee.b6a7c8",
                "51922dbe.7507a4",
                "8a257c1f.520b5",
                "46277531.531b1c",
                "cc4a7588.fe1cf8",
                "dd234971.2bf878",
                "fbc4fd78.f47ec",
                "f0e32e19.9d6f",
                "beac4d39.7e44e",
                "f771d613.16f8b8",
                "c7c34d0c.5baeb",
                "84b4d980.1ecfa8",
                "1bd4b44c.42752c",
                "14d2acf1.9a0df3",
                "c934adef.ac12b",
                "7124d3ba.af389c",
                "f49a7d9c.3d569",
                "f77609e2.d5f948",
                "b0619f5d.5568d",
                "13abf3ca.91bc8c",
                "1a0159c0.8ffa86",
                "8bcdeb77.f6d998"
            ]
        ]
    },
    {
        "id": "60a21685.c12208",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "honkHorn",
        "name": "honk",
        "x": 210,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "8a257c1f.520b5",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Range",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_range"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "Mi"
            }
        ],
        "state": "payload.charge_state.est_battery_range",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 610,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "46277531.531b1c",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Charge Rate",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_ch_rate"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.charge_state.charge_rate",
        "stateType": "msg",
        "attributes": [
            {
                "property": "charge_rate",
                "value": "payload.charge_state.charge_rate",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cc4a7588.fe1cf8",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Charging",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_charging"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.charge_state.charging_state",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 620,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "51922dbe.7507a4",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Battery",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_battery"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "%"
            }
        ],
        "state": "payload.charge_state.battery_level",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "49c89b42.701394",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Driver Temp",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_driver_temp"
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "F"
            }
        ],
        "state": "payload.climate_state.driver_temp_setting",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "477a690a.8c37c8",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Inside Temp",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_inside_temp"
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "F"
            }
        ],
        "state": "payload.climate_state.inside_temp",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 810,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "bd29ea12.98bde8",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Outside Temp",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_outside_temp"
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "F"
            }
        ],
        "state": "payload.climate_state.outside_temp",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 810,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "dd234971.2bf878",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla climate Status",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_climate_status"
            },
            {
                "property": "device_class",
                "value": "power"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.climate_state.is_climate_on",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 640,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f0e32e19.9d6f",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Last Charge",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_last_charge"
            },
            {
                "property": "device_class",
                "value": "power"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "kW"
            }
        ],
        "state": "payload.charge_state.charge_energy_added",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "72192c3e.628544",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Speed",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_speed"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "Mph "
            }
        ],
        "state": "payload.drive_state.speed",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 930,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "fbc4fd78.f47ec",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Power",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_power"
            },
            {
                "property": "device_class",
                "value": "power"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "kW"
            }
        ],
        "state": "payload.drive_state.power",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 610,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "afd022d9.bbbdc",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "doorLock",
        "name": "lock",
        "x": 210,
        "y": 1080,
        "wires": [
            [
                "7f407cab.9b9904"
            ]
        ]
    },
    {
        "id": "9c7b2d71.1e416",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "doorUnlock",
        "name": "unlock",
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "7f407cab.9b9904"
            ]
        ]
    },
    {
        "id": "fadd48ed.899478",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "climateStart",
        "name": "climate on",
        "x": 230,
        "y": 1140,
        "wires": [
            [
                "276655e9.ea3f3a"
            ]
        ]
    },
    {
        "id": "18172a6b.4529d6",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "climateStop",
        "name": "climate off",
        "x": 230,
        "y": 1180,
        "wires": [
            [
                "276655e9.ea3f3a"
            ]
        ]
    },
    {
        "id": "a5e88359.e41a5",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "windowControl",
        "name": "window",
        "x": 440,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "1e31fe2d.d334c2",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1260,
        "wires": [
            [
                "6af359ce.d11ae8"
            ]
        ]
    },
    {
        "id": "6af359ce.d11ae8",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "vent",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.command",
                "pt": "msg",
                "to": "vent",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1300,
        "wires": [
            [
                "a5e88359.e41a5"
            ]
        ]
    },
    {
        "id": "3a4b4cad.11bd44",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1380,
        "wires": [
            [
                "b3ae076f.20d778"
            ]
        ]
    },
    {
        "id": "b3ae076f.20d778",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "close",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.command",
                "pt": "msg",
                "to": "close",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1340,
        "wires": [
            [
                "a5e88359.e41a5"
            ]
        ]
    },
    {
        "id": "ac24802a.a11a2",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla Odo",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_odo"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "Mi"
            }
        ],
        "state": "payload.vehicle_state.odometer",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 800,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "beac4d39.7e44e",
        "type": "switch",
        "z": "aaf62c78.b1fad",
        "name": "not null",
        "property": "payload.drive_state.speed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 480,
        "wires": [
            [
                "72192c3e.628544"
            ],
            [
                "6401f380.34b50c"
            ]
        ]
    },
    {
        "id": "6401f380.34b50c",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "0",
        "rules": [
            {
                "t": "set",
                "p": "payload.drive_state.speed",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 500,
        "wires": [
            [
                "72192c3e.628544"
            ]
        ]
    },
    {
        "id": "f771d613.16f8b8",
        "type": "unit-converter",
        "z": "aaf62c78.b1fad",
        "category": "temperature",
        "inputUnit": "C",
        "outputUnit": "F",
        "inputField": "payload.climate_state.outside_temp",
        "outputField": "payload.climate_state.outside_temp",
        "inputFieldType": "msg",
        "outputFieldType": "msg",
        "roundOutputField": true,
        "outputFieldDecimals": 2,
        "name": "",
        "x": 620,
        "y": 380,
        "wires": [
            [
                "bd29ea12.98bde8"
            ]
        ]
    },
    {
        "id": "c7c34d0c.5baeb",
        "type": "unit-converter",
        "z": "aaf62c78.b1fad",
        "category": "temperature",
        "inputUnit": "C",
        "outputUnit": "F",
        "inputField": "payload.climate_state.inside_temp",
        "outputField": "payload.climate_state.inside_temp",
        "inputFieldType": "msg",
        "outputFieldType": "msg",
        "roundOutputField": true,
        "outputFieldDecimals": 2,
        "name": "",
        "x": 620,
        "y": 340,
        "wires": [
            [
                "477a690a.8c37c8"
            ]
        ]
    },
    {
        "id": "84b4d980.1ecfa8",
        "type": "unit-converter",
        "z": "aaf62c78.b1fad",
        "category": "temperature",
        "inputUnit": "C",
        "outputUnit": "F",
        "inputField": "payload.climate_state.driver_temp_setting",
        "outputField": "payload.climate_state.driver_temp_setting",
        "inputFieldType": "msg",
        "outputFieldType": "msg",
        "roundOutputField": true,
        "outputFieldDecimals": 2,
        "name": "",
        "x": 620,
        "y": 300,
        "wires": [
            [
                "49c89b42.701394"
            ]
        ]
    },
    {
        "id": "1bd4b44c.42752c",
        "type": "unit-converter",
        "z": "aaf62c78.b1fad",
        "category": "length",
        "inputUnit": "mi",
        "outputUnit": "mi",
        "inputField": "payload.vehicle_state.odometer",
        "outputField": "payload.vehicle_state.odometer",
        "inputFieldType": "msg",
        "outputFieldType": "msg",
        "roundOutputField": true,
        "outputFieldDecimals": 2,
        "name": "",
        "x": 620,
        "y": 580,
        "wires": [
            [
                "ac24802a.a11a2"
            ]
        ]
    },
    {
        "id": "5a47a2e6.e389cc",
        "type": "server-state-changed",
        "z": "aaf62c78.b1fad",
        "name": "honk",
        "server": "f7c12331.d033a",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.tesla_honk",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 70,
        "y": 980,
        "wires": [
            [
                "60a21685.c12208"
            ],
            []
        ]
    },
    {
        "id": "37f8d350.6b897c",
        "type": "server-state-changed",
        "z": "aaf62c78.b1fad",
        "name": "lock",
        "server": "f7c12331.d033a",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.tesla_locks",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 70,
        "y": 1060,
        "wires": [
            [
                "9c7b2d71.1e416"
            ],
            [
                "afd022d9.bbbdc"
            ]
        ]
    },
    {
        "id": "69b9de8f.65d26",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla locked",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_locked"
            },
            {
                "property": "device_class",
                "value": "lock"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.vehicle_state.locked",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 890,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "b365b727.b488b8",
        "type": "server-state-changed",
        "z": "aaf62c78.b1fad",
        "name": "climate",
        "server": "f7c12331.d033a",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.tesla_climate",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 70,
        "y": 1160,
        "wires": [
            [
                "fadd48ed.899478"
            ],
            [
                "18172a6b.4529d6"
            ]
        ]
    },
    {
        "id": "14d2acf1.9a0df3",
        "type": "switch",
        "z": "aaf62c78.b1fad",
        "name": "status",
        "property": "payload.vehicle_state.locked",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "7de69157.55f3a"
            ],
            [
                "f30c2a6a.ee97d8"
            ]
        ]
    },
    {
        "id": "f30c2a6a.ee97d8",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload.vehicle_state.locked",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 660,
        "wires": [
            [
                "69b9de8f.65d26"
            ]
        ]
    },
    {
        "id": "7de69157.55f3a",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload.vehicle_state.locked",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 620,
        "wires": [
            [
                "69b9de8f.65d26"
            ]
        ]
    },
    {
        "id": "276655e9.ea3f3a",
        "type": "delay",
        "z": "aaf62c78.b1fad",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 1160,
        "wires": [
            [
                "7f407cab.9b9904"
            ]
        ]
    },
    {
        "id": "6eac7cd5.e33de4",
        "type": "stoptimer",
        "z": "aaf62c78.b1fad",
        "duration": "30",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 950,
        "y": 700,
        "wires": [
            [
                "6d962625.e94828"
            ],
            []
        ]
    },
    {
        "id": "7124d3ba.af389c",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla lat",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_lat"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.drive_state.latitude",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 600,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "f49a7d9c.3d569",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla lon",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_lon"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.drive_state.longitude",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 600,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "c934adef.ac12b",
        "type": "switch",
        "z": "aaf62c78.b1fad",
        "name": "not null",
        "property": "payload.drive_state.shift_state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 720,
        "wires": [
            [
                "312504e4.105afc",
                "6eac7cd5.e33de4"
            ],
            [
                "3456ed01.5f2e12"
            ]
        ]
    },
    {
        "id": "3456ed01.5f2e12",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "P",
        "rules": [
            {
                "t": "set",
                "p": "payload.drive_state.shift_state",
                "pt": "msg",
                "to": "P",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 760,
        "wires": [
            [
                "312504e4.105afc"
            ]
        ]
    },
    {
        "id": "f77609e2.d5f948",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "user",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_user"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.vehicle_state.is_user_present",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 590,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "d38a13b7.cc257",
        "type": "api-current-state",
        "z": "aaf62c78.b1fad",
        "name": "check charger",
        "server": "f7c12331.d033a",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.temperance_charger_sensor",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 480,
        "y": 1760,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3af2a5ae.08101a",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "10:00",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1760,
        "wires": [
            [
                "ded71d94.afb67",
                "cf61f504.b6a4f8"
            ]
        ]
    },
    {
        "id": "f39a5d19.0e13d",
        "type": "comment",
        "z": "aaf62c78.b1fad",
        "name": "Check Tesla Charger",
        "info": "",
        "x": 90,
        "y": 1700,
        "wires": []
    },
    {
        "id": "dc37877a.50fcb8",
        "type": "link in",
        "z": "aaf62c78.b1fad",
        "name": "Car data",
        "links": [
            "7f407cab.9b9904",
            "ded71d94.afb67",
            "6d962625.e94828"
        ],
        "x": 175,
        "y": 360,
        "wires": [
            [
                "f562de5c.7c5df"
            ]
        ]
    },
    {
        "id": "7f407cab.9b9904",
        "type": "link out",
        "z": "aaf62c78.b1fad",
        "name": "car",
        "links": [
            "dc37877a.50fcb8"
        ],
        "x": 495,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ded71d94.afb67",
        "type": "link out",
        "z": "aaf62c78.b1fad",
        "name": "car",
        "links": [
            "dc37877a.50fcb8"
        ],
        "x": 235,
        "y": 1700,
        "wires": []
    },
    {
        "id": "cf61f504.b6a4f8",
        "type": "delay",
        "z": "aaf62c78.b1fad",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 300,
        "y": 1760,
        "wires": [
            [
                "d38a13b7.cc257"
            ]
        ]
    },
    {
        "id": "312504e4.105afc",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Shift State",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_state"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.drive_state.shift_state",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 930,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6d962625.e94828",
        "type": "link out",
        "z": "aaf62c78.b1fad",
        "name": "car",
        "links": [
            "dc37877a.50fcb8"
        ],
        "x": 1095,
        "y": 700,
        "wires": []
    },
    {
        "id": "f942da00.9e85b8",
        "type": "comment",
        "z": "aaf62c78.b1fad",
        "name": "Send Commands",
        "info": "",
        "x": 100,
        "y": 920,
        "wires": []
    },
    {
        "id": "39b5ba8.6b3c446",
        "type": "comment",
        "z": "aaf62c78.b1fad",
        "name": "Get Data",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "b0619f5d.5568d",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "Tesla idealRange",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_range_ideal"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "Mi"
            }
        ],
        "state": "payload.charge_state.ideal_battery_range",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "13abf3ca.91bc8c",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "display",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_display"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.vehicle_state.center_display_state",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 600,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "1a0159c0.8ffa86",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "version",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_version"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.vehicle_state.software_update.version",
        "stateType": "msg",
        "attributes": [
            {
                "property": "download",
                "value": "payload.vehicle_state.software_update.download_perc",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 600,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "8bcdeb77.f6d998",
        "type": "ha-entity",
        "z": "aaf62c78.b1fad",
        "name": "valet",
        "server": "f7c12331.d033a",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "tesla_valet"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload.vehicle_state.valet_mode",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "block",
        "x": 590,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "6e6c496d.1b21f8",
        "type": "server-state-changed",
        "z": "aaf62c78.b1fad",
        "name": "vent",
        "server": "f7c12331.d033a",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.tesla_vent",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 1320,
        "wires": [
            [
                "6af359ce.d11ae8"
            ],
            [
                "b3ae076f.20d778"
            ]
        ]
    },
    {
        "id": "75fba54b.2065bc",
        "type": "server-state-changed",
        "z": "aaf62c78.b1fad",
        "name": "Sm Garage Open",
        "server": "f7c12331.d033a",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.garage_small",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 100,
        "y": 1580,
        "wires": [
            [
                "41dbb9df.626948"
            ],
            [
                "2ab8c1a1.aad89e"
            ]
        ]
    },
    {
        "id": "41dbb9df.626948",
        "type": "api-current-state",
        "z": "aaf62c78.b1fad",
        "name": "home",
        "server": "f7c12331.d033a",
        "version": 1,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "device_tracker.temperance_location_tracker",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 290,
        "y": 1560,
        "wires": [
            [
                "27294e99.6cdd62"
            ],
            []
        ]
    },
    {
        "id": "2ab8c1a1.aad89e",
        "type": "api-current-state",
        "z": "aaf62c78.b1fad",
        "name": "home",
        "server": "f7c12331.d033a",
        "version": 1,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "device_tracker.temperance_location_tracker",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 290,
        "y": 1620,
        "wires": [
            [
                "c75d5595.d25b78"
            ],
            []
        ]
    },
    {
        "id": "27294e99.6cdd62",
        "type": "api-current-state",
        "z": "aaf62c78.b1fad",
        "name": "locked?",
        "server": "f7c12331.d033a",
        "version": 1,
        "outputs": 2,
        "halt_if": "locked",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "lock.temperance_door_lock",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 440,
        "y": 1560,
        "wires": [
            [
                "482aed0d.c2e624"
            ],
            []
        ]
    },
    {
        "id": "c75d5595.d25b78",
        "type": "api-current-state",
        "z": "aaf62c78.b1fad",
        "name": "unlocked?",
        "server": "f7c12331.d033a",
        "version": 1,
        "outputs": 2,
        "halt_if": "unlocked",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "lock.temperance_door_lock",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 450,
        "y": 1620,
        "wires": [
            [
                "4ad585.4a67fa7c"
            ],
            []
        ]
    },
    {
        "id": "7f2a9f3f.3ebdd",
        "type": "comment",
        "z": "aaf62c78.b1fad",
        "name": "Garage",
        "info": "",
        "x": 70,
        "y": 1500,
        "wires": []
    },
    {
        "id": "482aed0d.c2e624",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "doorUnlock",
        "name": "unlock",
        "x": 610,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "4ad585.4a67fa7c",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "doorLock",
        "name": "lock",
        "x": 610,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "df23dc9.99eb72",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.offset",
                "pt": "msg",
                "to": "delay in ms before installation begins",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1080,
        "wires": [
            [
                "3f913ecf.102f12"
            ]
        ]
    },
    {
        "id": "3f913ecf.102f12",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "scheduleSoftwareUpdate",
        "name": "Software update",
        "x": 1300,
        "y": 1080,
        "wires": [
            []
        ],
        "info": "delay in ms before installation begins"
    },
    {
        "id": "a88dfd36.35401",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1080,
        "wires": [
            [
                "df23dc9.99eb72"
            ]
        ]
    },
    {
        "id": "5d5e726.8d0908c",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1120,
        "wires": [
            [
                "1994176a.7f2389"
            ]
        ]
    },
    {
        "id": "1994176a.7f2389",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.heater",
                "pt": "msg",
                "to": "Which heater to adjust (0-5)",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "level",
                "pt": "msg",
                "to": "Level for the heater (0-3)",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1120,
        "wires": [
            [
                "5aead28d.fb6eec"
            ]
        ]
    },
    {
        "id": "5aead28d.fb6eec",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "seatHeater",
        "name": "Tesla seat heater",
        "x": 1310,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "74465a6e.fd35e4",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1160,
        "wires": [
            [
                "31036c40.2ee3b4"
            ]
        ]
    },
    {
        "id": "31036c40.2ee3b4",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.amt",
                "pt": "msg",
                "to": "85",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1160,
        "wires": [
            [
                "dfedcb35.71d1c8"
            ]
        ]
    },
    {
        "id": "dfedcb35.71d1c8",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "setChargeLimit",
        "name": "Tesla charge limit",
        "x": 1310,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "59d17d7.e1f2184",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1200,
        "wires": [
            [
                "300ebdd5.cc0952"
            ]
        ]
    },
    {
        "id": "300ebdd5.cc0952",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.onoff",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1200,
        "wires": [
            [
                "ba309d1f.8c2b1"
            ]
        ],
        "info": "true to turn on sentry mode, false to turn off"
    },
    {
        "id": "ba309d1f.8c2b1",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "setSentryMode",
        "name": "Tesla sentry",
        "x": 1290,
        "y": 1200,
        "wires": [
            []
        ],
        "info": "true to turn on sentry mode, false to turn off"
    },
    {
        "id": "1c38bd57.396cd3",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1240,
        "wires": [
            [
                "fc7221da.d407f"
            ]
        ]
    },
    {
        "id": "fc7221da.d407f",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.driver",
                "pt": "msg",
                "to": "driver temp in Deg.C",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "commandArgs.pass",
                "pt": "msg",
                "to": "passenger temp in Deg.C",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1240,
        "wires": [
            [
                "898762d4.11952"
            ]
        ]
    },
    {
        "id": "898762d4.11952",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "setTemps",
        "name": "Tesla temp",
        "x": 1290,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "242912a4.94adce",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1280,
        "wires": [
            [
                "8c7e8a44.14db48"
            ]
        ]
    },
    {
        "id": "8c7e8a44.14db48",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.pin",
                "pt": "msg",
                "to": "pin code",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1280,
        "wires": [
            [
                "abcc6007.8b8d7"
            ]
        ]
    },
    {
        "id": "abcc6007.8b8d7",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "setValetMode",
        "name": "Tesla vallet",
        "x": 1290,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "1e535874.a4f028",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "1a3e94cf.0b749b",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "flashLights",
        "name": "Tesla flash lights",
        "x": 1300,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "25fdb0ba.52694",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1360,
        "wires": [
            [
                "782f54fe.38077c"
            ]
        ]
    },
    {
        "id": "dc11f709.4344c8",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "openTrunk",
        "name": "Tesla trunk",
        "x": 1290,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "222bc907.913036",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1400,
        "wires": [
            [
                "f4f7e6b5.c844e8"
            ]
        ]
    },
    {
        "id": "e8e499b3.448308",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "maxDefrost",
        "name": "Tesla defrost",
        "x": 1290,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "849266fe.da6078",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1440,
        "wires": [
            [
                "1eb21ae6.6af545"
            ]
        ]
    },
    {
        "id": "1eb21ae6.6af545",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.amt",
                "pt": "msg",
                "to": "charge limit in percent",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1440,
        "wires": [
            [
                "5eff9b8a.605564"
            ]
        ]
    },
    {
        "id": "5eff9b8a.605564",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "flashLights",
        "name": "Tesla set charge limit",
        "x": 1320,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "66fefc4d.ffbb24",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1480,
        "wires": [
            [
                "63bca4b8.18022c"
            ]
        ]
    },
    {
        "id": "63bca4b8.18022c",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.amt",
                "pt": "msg",
                "to": "85",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1480,
        "wires": [
            [
                "29745c59.4297d4"
            ]
        ]
    },
    {
        "id": "29745c59.4297d4",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "setChargeLimit",
        "name": "Tesla set charge limit",
        "x": 1320,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "f4f7e6b5.c844e8",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.onoff",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1400,
        "wires": [
            [
                "e8e499b3.448308"
            ]
        ],
        "info": "true to turn on sentry mode, false to turn off"
    },
    {
        "id": "37f6a94c.3b6e86",
        "type": "tesla-api",
        "z": "aaf62c78.b1fad",
        "teslaConfig": "ff7b5fb5.1083d",
        "command": "windowControl",
        "name": "window",
        "x": 1280,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "95781092.c859f",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.command",
                "pt": "msg",
                "to": "Allowable values are 'vent' and 'close'",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1520,
        "wires": [
            [
                "37f6a94c.3b6e86"
            ]
        ]
    },
    {
        "id": "6095c63d.3b1888",
        "type": "inject",
        "z": "aaf62c78.b1fad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1520,
        "wires": [
            [
                "95781092.c859f"
            ]
        ]
    },
    {
        "id": "782f54fe.38077c",
        "type": "change",
        "z": "aaf62c78.b1fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandArgs.which",
                "pt": "msg",
                "to": "FRUNK or TRUNK constant",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1360,
        "wires": [
            [
                "dc11f709.4344c8"
            ]
        ]
    },
    {
        "id": "ff7b5fb5.1083d",
        "type": "tesla-config",
        "vehicleID": "12345679"
    },
    {
        "id": "f7c12331.d033a",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]
